// =============================================================
//  ABOUT PAGE
// =============================================================
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.about {
    @include flex(column, flex-start, stretch, 30px);
    margin-top: $spacing-xl;

    @include mobile {
        gap: $spacing-md; // 20px on mobile
        margin-top: $spacing-md;
    }
}